#root {
  background: #F0F0F0;
  color: #212121;
}

.App {
  width: 700px;
  max-width: 100%;
  padding: 24px 0;
  margin: 0 auto;
}

.error {
  margin: 24px auto;
  color: red;
  max-width: 700px;
  width: calc(100% - 32px);
  font-size: 22px;
}
.Form {
  max-width: 700px;
  width: calc(100% - 32px);
  margin: 24px auto;
}

.form-field label {
  display: block;
  color: #616161;
  margin: 16px 0 8px;
}

.form-field input {
  font-size: 22px;
  padding: 8px 16px;
  border: none;
}

.form-field input:focus {
  outline-color: #8FCE47;
}

#checkboxField {
  display: flex;
  align-content: center;
  margin: 8px 0 0;
}

#checkboxField label {
  margin: 0;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin: 16px 0;
}


.cards {
  display: flex;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 16px;
  flex: 1 1 500px;
  min-height: 320px;
}

.card .picture {
  flex: 1 1 304px;
  height: 320px;
  overflow: hidden;
}
.card .content {
  flex: 3 1 304px;
  padding: 16px;
  background: white;
}

.card .content h3 {
  font-size: 40px;
  margin: 16px 0;
  line-height: 0.9;
}

.card .content p {
  margin: 8px 0;
  font-size: 25px;
}

.card .content a {
  color: #8FCE47;
}

.card .picture div {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}

.card .yelpURL a {
  color: #d32323;
}

.card .short__info {
  display: flex;
  flex-wrap: wrap;
}
.card .short__info p {
  margin: 0 8px 4px 0;
}

.button {
  background:#8FCE47;
  color: white;
  border: none;
  padding: 16px;
  font-size: 25px;
  width: 160px;
  align-self: center;
}

.footer {
    height: 128px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    background: #F0F0F0
}

.footer__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer__copyright p {
    margin: 8px 0 0;
    letter-spacing: 1.5px;
}

.header {
  background: #8FCE47;
  margin: 0 auto 24px;
  width: calc(100% - 32px);
  max-width: 668px;
}

.header *, *:before, *:after {
    position: relative;
}
    
.header * {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
    
.header h1 {
    color: white;
    font-size: 4rem; 
    text-shadow: .03em .03em 0 #8FCE47;
    line-height: 1;
    position: relative;
    z-index: 5;
    margin: 24px 0;
}

.header h1:after {
    content: attr(data-shadow);
    position: absolute;
    top: .06em; left: .06em;
    z-index: -1;
    text-shadow: none;
    background-image: linear-gradient(45deg, transparent 45%, #EAE8E0 45%, #EAE8E0 55%, transparent 0);
    background-size: .05em .05em;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shad-anim 15s linear infinite;
}

@keyframes shad-anim {
    0% {background-position: 0 0}
    0% {background-position: 100% -100%}
}

@media (min-width: 450px) {
  .header h1 {
    font-size: 6rem; 
  }
  .card .content {
    padding: 24px;
  }
  .card .short__info p {
    margin: 0 16px 4px 0;
  }
}
@media (min-width: 600px) {
  .header h1 {
    font-size: 8rem; 
  }
}
@media (min-width: 704px) {
  .card .picture {
    height: 100%;
  }
}
@media (min-width: 750px) {
  .header h1 {
    font-size: 10rem; 
  }
}